<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<% include templates/header.ejs%>

<h2>About</h2>
<p>Hello my name is Anton and im 21 years old, this is my express node js webapplication</p>

</body>
</html>
